<main>
  <div class="card">
    <header>
      <h1>Team Generator</h1>
    </header>

    <div class="card-display">
      <ul class="list">
        <li *ngFor="let person of people">
          {{ person }}
        </li>
      </ul>
    </div>

    <div class="card-add-members">
      <input
        #personInput
        (input)="onNewPersonInput(personInput.value)"
        [value]="newName"
        type="text"
        placeholder="Name"
      />
      <button (click)="addPerson()">Add</button>
    </div>

    <div class="card-generate-team">
      <input
        #teamNumberInput
        (input)="onTeamNumberInput(teamNumberInput.value)"
        [value]="teamNumber === 0 ? '' : teamNumber"
        min="0"
        type="number"
        placeholder="# of teams"
      />
      <button (click)="generateTeams()">Generate Team</button>
    </div>

    <h5 *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</h5>

    <app-team [teams]="teams"></app-team>
  </div>
</main>
